{% if section.settings.tags_enable and section.settings.sort_enable %}
<style>
@media only screen and (max-width: 767px) {
	.collection-page--sort-by{
		margin-top: 20px;
	}
}
</style>
{% endif %}

{% if section.settings.collection_image_enable %}
	<style>
	#main-navigation-wrapper{
		margin-bottom: 0px;
	}
	</style>

	{% if collection.image %}
		<div class="collection-image-wrapper">
			{% include 'responsive-image' with collection.image, alt: collection.title %}
		</div>
	{% endif %}
{% endif %}

<div class="container">

{%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">

<div id="collections-main" class="{{ collection.handle }}">

<div class="title-bar custom-font collection-header">
	{% if collection.handle == 'all' %}
		<h2>{{ 'products.general.products_title' | t }}</h2>
	{% else %}
		<h2>{{ collection.title }}</h2>
	{% endif %}
	<div class="clear"></div>
</div>

	{% if collection.description != empty %}
		<div class="description-content">{{ collection.description }}</div>
	{% endif %}
</div>

{% if section.settings.tags_enable or section.settings.sort_enable %}
	<div class="filters-toolbar">
		{% assign tag_categories = "" | split: ','%}
		{% for tag in collection.all_tags %}
			{% assign splitted_tag = tag | split: '_' %}
			{% assign main_tag = splitted_tag[0] %}
			{% assign secondary_tag = splitted_tag[1] %}
			{% assign category = main_tag | append: " " | append: secondary_tag | split: ',' %}
			{% assign tag_categories = tag_categories | concat: category | uniq %}
		{% endfor %}
		<ul class="subnav clearfix">
			<li{% unless current_tags %} class="active"{% endunless %}>
				{% if collection.handle %}
				<a href="/collections/{{ collection.handle }}{% if collection.sort_by %}?sort_by={{ collection.sort_by }}{% endif %}">Tous les produits</a>
				{% elsif collection.current_type %}
				<a href="{{ collection.current_type | url_for_type | sort_by: collection.sort_by }}">Tous les produits</a>
				{% elsif collection.current_vendor %}
				<a href="{{ collection.current_vendor | url_for_vendor | sort_by: collection.sort_by }}">Tous les produits</a>
				{% endif %}
			</li>
		</ul>
		<p class="collection-tag-collapsible">Filtrer</p>
		<div class="collection-tag-content">
			{% for tag_category in tag_categories %}
				{% assign collapsible_text = tag_category | capitalize | split: ' ' | join: '/' %}
				<p class="collection-tag-collapsible">{{ collapsible_text }}</p>
				<ul class="subnav clearfix collection-tag-content">
					{% for tag in collection.all_tags %}
						{% assign splitted_tag = tag | split: '_' %}
						{% assign main_tag = splitted_tag[0] %}
						{% assign secondary_tag = splitted_tag[1] %}
						{% assign category = main_tag | append: " " | append: secondary_tag %}
						{% assign tag_name_to_display = tag | split: '_' %}
						{% assign tag_name_to_display = tag_name_to_display[-1] %}
						{% if tag_category == category %}
							{% if current_tags contains tag %}
								<li class="active">
									{{ tag_name_to_display | link_to_remove_tag: tag }}
								</li>
							{% else %}
								<li>
									{{ tag_name_to_display | link_to_tag: tag }}
								</li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			{% endfor %}
		</div>
	</div>

				{% if section.settings.sort_enable %}
					<div class="collection-page--sort-by col-md-3 col-sm-6 {% if section.settings.tags_enable %}col-md-offset-6{% endif %}">
						{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
						<label for="sort-by">{{ 'collections.sorting.title' | t }}</label>
  					<select id="sort-by">
							<option value="manual">{{ 'collections.sorting.featured' | t }}</option>
					    <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
					    <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
					    <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
					    <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
					    <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
					    <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
					    <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
						</select>
						<input class="collection-header__default-sort" type="hidden" value="{{ collection.default_sort_by }}">
					</div>

					<input type="hidden" id="collection-sort-by" value="{{ collection.sort_by | default: collection.default_sort_by | escape }}" />
				{% endif %}
			</div>
{% endif %}

  <div class="page-width row" id="Collection">

{% if section.settings.enable_collection_sidebar %}

		{% if section.blocks.size > 0 %}

			<div class="col-md-3" id="collection-sidebar">

				{% for block in section.blocks %}

					{% case block.type %}

						{% when 'vendors' %}

							<div class="collection-sidebar--section" {{ block.shopify_attributes }}>
								<h2>{{ block.settings.title }}</h2>

								<ul>
									{% for product_vendor in shop.vendors %}
									{% assign its_a_match = false %}
									{% capture my_collection_handle %} {{ product_vendor | handleize | strip | escape  }} {% endcapture %}
									{% assign my_collection_handle_stripped = my_collection_handle | strip | escape %}

									{% for collection in collections %}
									{% if my_collection_handle_stripped == collection.handle %}
									{% assign its_a_match = true %}
									{% endif %}
									{% endfor %}

									{% if its_a_match %}
									<li class="vendor-list-item"><a href="/collections/{{ product_vendor | handleize }}">{{ product_vendor }}</a></li>
									{% else %}
									<li class="vendor-list-item">{{ product_vendor | link_to_vendor }}</li>
									{% endif %}
									{% endfor %}
								</ul>

							</div>

						{% when 'text' %}

							<div class="collection-sidebar--section" {{ block.shopify_attributes }}>

								<h2>{{ block.settings.title }}</h2>

								<div class="colletion--sidebar--text--richtext">
									{{ block.settings.richtext }}
								</div>

							</div>

						{% when 'menu' %}

							{%- assign collection_linklist = block.settings.collection_linklist -%}
							{% if linklists[collection_linklist].links.size > 0 %}
							<div class="collection-sidebar--section" {{ block.shopify_attributes }}>
								<h2>{{ block.settings.menu_title | escape }}</h2>
								<ul>
									{% for link in linklists[collection_linklist].links %}
										<li {% if link.object.tags and link.object.tags.size > 0 %} class="children"{% endif %}>
											<a href="{{link.url}}">{{link.title}}</a>
										</li>
									{% endfor %}
								</ul>
							</div>
							{% endif %}

						{% when 'image' %}

						{% if block.settings.collection-sidebar-image %}
							<div class="collection-sidebar--section" {{ block.shopify_attributes }}>
								{% if block.settings.collection-sidebar-link %}
									<a href="{{ block.settings.collection-sidebar-link }}" itemprop="url">
								{% endif %}
								<div>
									{% assign alt = block.settings.collection-sidebar-image.alt | default: shop.name %}
									{% include 'responsive-image' with block.settings.collection-sidebar-image, alt: alt %}
								</div>
								{% if block.settings.collection-sidebar-link %}
									</a>
								{% endif %}
							</div>
						{% endif %}

						{% endcase %}

				{% endfor %}

			</div>

		{% endif %}

{% endif %}

{% if section.settings.enable_collection_sidebar and section.blocks.size > 0 %}
	<div class="col-md-9">
{% else %}
	<div class="col-md-12">
{% endif %}

      {% case section.settings.grid %}
			{% when '2' %}
			{%- assign grid_item_width = 'col-xs-6 col-sm-6 col-md-6 two_columns' -%}
			{%- assign grid_image_width = '600x600' -%}
      {% when '3' %}
      {%- assign grid_item_width = 'col-xs-6 col-sm-4 col-md-4 three_columns' -%}
      {%- assign grid_image_width = '600x600' -%}
      {% when '4' %}
      {%- assign grid_item_width = 'col-xs-6 col-sm-6 col-md-3 four_columns' -%}
      {%- assign grid_image_width = '600x600' -%}
			{% when '5' %}
			{%- assign grid_item_width = 'col-xs-6 col-sm-6 col-md-fifth five_columns' -%}
      {%- assign grid_image_width = '600x600' -%}
			{% when '6' %}
      {%- assign grid_item_width = 'col-xs-6 col-sm-4 col-md-2 six_columns' -%}
      {%- assign grid_image_width = '600x600' -%}
      {% endcase %}

      <div class="row product-grid clearfix {% if section.settings.match-height %}products--match-height{% endif %}">
        {% for product in collection.products %}

          {% unless product.tags contains "pour-les-pros" %}
            {% include 'product-grid-item' %}
          {% else %}
            {% if customer and customer.tags contains 'pro' %}
              {% include 'product-grid-item' %}
            {% endif %}
          {% endunless %}

        {% else %}
          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}

            {% for i in (1..8) %}

            <div class="grid__item {{ grid_item_width }} indiv-product-wrapper

            {% case section.settings.grid %}
							{% when '2' %}
								{% cycle 'alpha', 'omega' %}
	            {% when '3' %}
	            	{% cycle ' alpha', '', ' omega' %}
	            {% when '4' %}
	            	{% cycle ' alpha', '', '', ' omega' %}
							{% when '5' %}
		            {% cycle ' alpha', '', '', '', ' omega' %}
							{% when '6' %}
			           {% cycle ' alpha', '', '', '', '', ' omega' %}
						{% endcase %}

            ">

            <div class="indiv-product">
            	<a href="{{ product.url | within: collection }}" title="{{product.title}}">
	            	{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
	            	{{ 'product-' | append: current | placeholder_svg_tag: 'icon icon--placeholder animated zoomIn img-responsive' }}
            	</a>
            	<div class="hp-title">
            		<a href="{{ product.url | within: collection }}">
            			<div class="indiv-product-title-text">{{ 'general.onboarding.product_title' | t }}</div>
            			<span class="money money-styling">£19.99</span>
									{% if section.settings.show_reviews %}
										<a href="#shopify-product-reviews"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></a>
									{% endif %}
            		</a>
            	</div>
            </div>
            </div>
            {% endfor %}

          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </div>

    {% if is_empty_collection %}
      <div class="grid__item small--text-center">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}

    {% if paginate.pages > 1 %}

				</div>

				<div class="pagination row">

				  <ul>
				    <li class="pagination-arrow pagination-arrow--previous grid__item col-sm-4 col-md-4 col-xs-4">
				      {% unless paginate.previous.is_link %}
				        <div class="btn btn--secondary btn--narrow btn--disabled">
				          <i class="fas fa-chevron-left"></i>
				          <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
				        </div>
				      {% else %}
				        <a href="{{ paginate.previous.url }}" class="btn btn--secondary btn--narrow">
				          <i class="fas fa-chevron-left"></i>
				          <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
				        </a>
				      {% endunless %}
				    </li>
				    <li class="pagination-text grid__item col-sm-4 col-md-4 col-xs-4">
				      <div class="hidden-xs">{{ 'general.pagination.current_page' | t: current: paginate.current_page, total: paginate.pages }}</div>
				    </li>
				    <li class="pagination-arrow pagination-arrow--next grid__item col-sm-4 col-md-4 col-xs-4">
				      {% unless paginate.next.is_link %}
				        <div class="btn btn--secondary btn--narrow btn--disabled">
				          <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
				          <i class="fas fa-chevron-right"></i>
				        </div>
				      {% else %}
				        <a href="{{ paginate.next.url }}" class="btn btn--secondary btn--narrow">
				          <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
				          <i class="fas fa-chevron-right"></i>
				        </a>
				      {% endunless %}
				    </li>
				  </ul>

				</div>

  	{% endif %}
  	</div>
	</div>
</div>

{% endpaginate %}

{% schema %}
{
  "name": "Collection pages",
	"max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "grid",
      "label": "Products per row",
      "default": "4",
      "options": [
				{
					"value": "2",
					"label": "2"
				},
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
				{
          "value": "5",
          "label": "5"
        },
				{
          "value": "6",
          "label": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "rows",
      "label": "Rows per page",
      "default": "6",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show-vendor",
      "label": "Show vendor",
      "default": false
    },
		{
			"type": "select",
			"id": "hover-effect",
			"label": "Hover effect",
			"default": "zoom",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "zoom",
					"label": "Zoom"
				},
				{
					"value": "second-image",
					"label": "Show Second Product Image"
				}
			]
		},
    {
      "type": "checkbox",
      "id": "collection_image_enable",
      "label": "Show collection image",
      "default": true
    },
		{
      "type": "checkbox",
      "id": "sort_enable",
      "label": "Enable sorting",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": "Enable tag filtering",
      "default": true
    },
		{
			"type": "header",
			"content": "Auto-height images"
		},
		{
			"type": "paragraph",
			"content": "Set all of your images to be the same height"
		},
		{
			"type": "checkbox",
			"id": "match-height",
			"label": "Enable auto-height",
			"default": false
		},
		{
			"type": "header",
			"content": "Reviews"
		},
		{
			"type": "checkbox",
			"id": "show_reviews",
			"label": "Enable",
			"default": true
		},
		{
			"type": "paragraph",
			"content": "You will need to install Shopify's [Product Reviews app](https://apps.shopify.com/product-reviews) before enabling this option."
		},
		{
				"type":      "header",
				"content":   "Sidebar"
		},
		{
			"type": "checkbox",
			"id": "enable_collection_sidebar",
			"label": "Toggle sidebar content",
			"default": false,
			"info": "Create a sidebar by adding content blocks below."
		}
		],
		"blocks": [
			{
				"type": "text",
				"name": "Text",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Heading",
						"default": "Collection Sidebar Header Text"
					},
	        {
	          "type": "richtext",
	          "id": "richtext",
	          "label": "Text",
						"default": "<p>Share details about promotions or important messages with your customers.</p>"
	        }
				]
			},
			{
				"type": "vendors",
				"name": "Vendors",
				"limit": 1,
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Heading",
						"default": "Vendors"
					}
				]
			},
			{
	      "type": "menu",
	      "name": "Menu",
	      "settings": [
	        {
	          "type": "text",
	          "id": "menu_title",
	          "label": "Heading",
	          "default": "Links"
	        },
	        {
	          "type": "link_list",
	          "id": "collection_linklist",
	          "label": "Menu",
	          "default": "main-menu"
	        }
	      ]
	    },
			{
				"type": "image",
				"name": "Image",
				"settings": [
					{
						"type": "image_picker",
						"id": "collection-sidebar-image",
						"label": "Image",
						"info": "300 x 150px recommended"
					},
					{
						"type": "url",
						"id": "collection-sidebar-link",
						"label": "Link",
						"info": "Optional"
					}
				]
			}
		]
}
{% endschema %}
